<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    package="rifai.achmad.mathshogun">

    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:showOnLockScreen="true"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Cerita"
            android:screenOrientation="landscape"
            android:showOnLockScreen="true"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name=".Dash"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_dash"
            android:screenOrientation="landscape"
            android:showOnLockScreen="true"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".TheScore"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_the_score"
            android:screenOrientation="landscape"
            android:showOnLockScreen="true"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".About"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_about"
            android:screenOrientation="landscape"
            android:showOnLockScreen="true"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".Atur"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_atur"
            android:screenOrientation="landscape"
            android:showOnLockScreen="true"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".GameActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:showOnLockScreen="true"
            android:theme="@style/FullscreenTheme" />
        <activity android:name=".Quis"></activity>
    </application>

</manifest>